<header th:fragment="header">
    <div class="container mt-3">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a aria-current="page" class="nav-link"
                   th:classappend="${#httpServletRequest.getRequestURI().equals('/') ? 'active' : ''}"
                   href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   th:classappend="${#httpServletRequest.getRequestURI().startsWith('/vacinas') ? 'active' : ''}"
                   href="/vacinas">Vacinas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   th:classappend="${#httpServletRequest.getRequestURI().startsWith('/carteira') ? 'active' : ''}"
                   href="/carteira">Carteira</a>
            </li>
        </ul>
    </div>
    <div class="container mt-3">
        <div class="row">
            <div class="col-12">
                <h1>Carteira de vacinação</h1>
            </div>
        </div>
    </div>
</header>